{%- assign posts = paginator.posts | default: site.posts -%}
{%- assign posts = posts | where_exp: "post", "post.series != 'promptuna-bandim'" -%}

{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    
    {{ post.excerpt }}
    
    {% if post.show_read_more %}
      <div class="more">
        <a href="{{ post.url | relative_url }}">read more</a>
        <span class="comment-count" data-comment-count="{{ post.url }}" style="display:none; margin-left: 10px; color: #666; font-size: 0.9em;"></span>
      </div>
    {% endif %}
  </article>
{% endfor %}

{% if paginator.total_pages > 4 %}
  <footer>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>
    {% else %}
      <span></span>
    {% endif %}
    
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>
    {% else %}
      <span></span>
    {% endif %}
  </footer>
{% endif %}
