---
layout: default
---

<article>
  {% include meta.html post=page %}
  
  {{ content }}
  
  {% if page.comments != false %}
    <hr>
    
    {% if site.comments.isso_domain %}
      <div id="isso-thread"></div>
    {% endif %}
    
    {% if site.comments.disqus_shortname %}
      <div id="disqus_thread"></div>
    {% endif %}
    
    {% if site.comments.utterances.repo %}
      <script src="https://utteranc.es/client.js"
              repo="{{ site.comments.utterances.repo }}"
              issue-term="{{ site.comments.utterances.issue_term | default: 'pathname' }}"
              theme="{{ site.comments.utterances.theme | default: 'github-light' }}"
              crossorigin="anonymous"
              async>
      </script>
    {% endif %}
    
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
